* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2, h3, h4 {
    color: #0099cc;
}
header {
    padding: 10px;
    background-color: #0099cc; 
    text-align: center;
    color: white;
}
header p {
    font-style: italic; 
}

main {
    padding: 5px 5px 29px 5px;
    text-align: center;
}
.filter {
    padding: 0;
    margin: 25px auto;
    padding-bottom: 4px;
    max-width: 580px;
    border-bottom: 1px solid #ccc;
}
.filter div {
    padding: 8px;
}
.filter ul li {
    display: inline-block;
    width: 105px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #999999;
    background-color: #d9d9d9;
    border-radius: 1px;
    margin: 0.5px;
    padding: 10px 5px;
    cursor: pointer;
    transition: color .25s, background-color .25s;
}
.filter ul li.active {
    background-color: #f88000;
    color: #000;
}
.filter ul li:focus, .filter ul li:hover { 
    color: #fff;
    outline: none;
}
.filter ul li.placeholder {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
    border-bottom: none;
    opacity: 0;
    cursor: default;
    pointer-events: none;
}
#filter-tags div {
    margin: 5px 0;
}
#filter-tags div input[type="radio"] {
    display: none;
}
#filter-tags div input + label {
    display: inline-block;
    color: #999999;
    background-color: #d9d9d9;
    border-radius: 1px;
    margin: 0px;
    padding: 10px;
    cursor: pointer;
    transition: color .25s, background-color .25s;
}
#filter-tags div input:checked + label {
    color: #000;
    background-color: #f88000;
}
#filter-tags div input + label:focus, #filter-tags div input + label:hover {            
    color: #fff;
    outline: none;
}
#filter-tags-search {
    display: block;
    border: none;
    border-radius: 1px;
    padding: 15px;
    width: 200px;
    margin: 12px auto 0 auto;
    background: #f2f2f2;
    text-align: center;
}
#filter-tags-search:hover, #filter-tags-search:focus {
    outline: 2px solid #f88000;
}

#cook-something-container {
    min-height: 62px;
}
#cook-something-container.sticky button {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    padding: 10px;
}
#cook-something-btn {
    display: block;
    background: #f88000;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 1px;
    padding: 15px;
    width: 100%;
    max-width: 580px;
    margin: auto;
    font-size: 28px;
    cursor: pointer;
    transition: background-color .25s, color .25s;
}
#cook-something-btn:hover, #cook-something-btn:focus {
    color: #fff;
    outline: none;
}

#result-container {
    min-height: 800px;
}
#result {
    display: none;
    padding: 10px;
    margin: 25px auto;
    max-width: 556px;
    background-color: #fff;
    border: 2px solid #0099cc;
    border-radius: 1px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.25);
}
#result-name {
    font-size: 34px;
    color: #fff;
    background-color: #0099cc;
    margin: -10px -10px 10px -10px;
    padding: 10px;
}
#result-description-container {
    position: relative;
}
#result-description {
    margin-top: 10px;
    overflow-y: hidden;
    text-align: justify;
}
#result-description p {
    color: #000;            
}
#result-description-cover {
    display: none;
    position: absolute;
    bottom: 0;
    left: -10px;
    right: -10px;
    height: 75px;
    background: rgba(225,225,225,0.95);
    background: linear-gradient(rgba(225,225,225,0), rgba(225,225,225,0.75), #fff);
}
#toggle-description-btn {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #f88000;
    padding: 10px;
    cursor: pointer;
    transition: color .25s;
}
#toggle-description-btn:hover, #toggle-description-btn:focus {
    color: #000;
    outline: none;
}
#result-source {
    text-align: center;
    color: #0099cc;     
}
#result-source a {
    color: #f88000;
    transition: color .25s;
}  
#result-source a:hover, #result-source a:focus  {
    outline: none;
    color: #000;
}  
#result-source:before {
    content: 'Source: ';
    font-size: 14px;    
}
#result-search-container {
    margin-top: 50px;
}
#result-search-container a {
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    padding: 15px;
    background-color: #fff;
    color: #000; 
    transition: box-shadow .25s;
}
#result-search-container a:hover, #result-search-container a:focus {
    box-shadow: 0 0 6px 0px rgba(0,0,0,0.25); 
}
#result-search-variations-container {
    margin-top: 25px;
}
#result-search-variations-container h4 {
    padding: 5px;
}
#result-search-variations-container a {
    display: inline-block;
    margin: 2px;
}

#c_alert {
    display: none;
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    padding: 15px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
    border: 2px solid #0099cc;
    background-color: #fff;
    text-align: center;
}
#c_alert h1 {
    font-size: 24px;
    background-color: #0099cc;
    color: #fff;
    margin: -15px -15px 15px -15px;
    padding: 10px;
}
#c_alert p {
    padding: 10px;    
}
#c_alert_close {
    background: #f88000;
    color: #000;
    border: none;
    border-radius: 1px;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: color .25s;
}
#c_alert_close:hover, #c_alert_close:focus {
    color: #fff;
    outline: none;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: #0099cc; 
}
footer p {
    font-size: 12px;
    text-align: center;
    color: #fff;
}
footer a {
    color: #f88000;
}